---
import BaseLayout from "../layouts/BaseLayout.astro";
import Bio from "../components/Bio.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { portfolio } from "../data/portfolio";
---

<BaseLayout>
  <div class="home">
    <Bio
      name={portfolio.name}
      bio={portfolio.bio}
      avatar={portfolio.avatar}
      socialLinks={portfolio.socialLinks}
    />

    <div class="projects">
      {portfolio.projects.map((project) => (
        <ProjectCard project={project} />
      ))}
    </div>
  </div>
</BaseLayout>

<style>
  .home {
    display: flex;
    flex-direction: column;
    gap: 43px;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
  }

  @media (max-width: 640px) {
    .projects {
      grid-template-columns: 1fr;
      gap: 9px;
    }
  }
</style>
